# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db
mlartifacts/
catboost_info/

# Env
.env

# OS
.DS_Store
Thumbs.db
